{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">The movie</th>
                <th scope="col">Synopsis</th>
                <th scope="col">Language</th>
                <th scope="col">Release Date</th>
                <th scope="col">Note</th>
                <th scope="col">Video</th>
                <th scope="col">For adult</th>
                <th scope="col">Actors</th>
                <th scope="col">Actions</th> <!-- Ajout d'une colonne pour les boutons -->
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td onclick="window.location='{{ movie.id }}';" style="cursor: pointer;"><img src="{{ movie.image }}" alt="image de {{movie.title}}" style="max-width:40%;">  {{ movie.title }}</td>
                    <td>{{ movie.synopsis }}</td>
                    <td>{{ movie.language }}</td>
                    <td>{{ movie.releaseDate|date('Y-m-d') }}</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>{{ movie.note }}
                    </td>
                    <td>{{ movie.video }}</td>
                    <td>
                        {% if movie.forAdult %}
                            <img src="https://ih1.redbubble.net/image.2177519525.9192/st,small,507x507-pad,600x600,f8f8f8.jpg" alt="For Adults" style="max-width:20%;">
                        {% else %}
                            <img src="https://pegi.info/sites/default/files/inline-images/age-7-black.jpg" alt="For Adults" class="w-100">
                        {% endif %}
                    </td>
                    <td>
                        {% for actor in movie.actors %}
                            {{ actor.name }},
                        {% endfor %}
                    </td>
                        <td><button onclick="window.location='/movie/addFavorite/{{ movie.id }}';" type="button" class="btn btn-primary">Add favorites</button></td>

                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}